workflows/job-search-ai-agent-v2.json
{
  "name": "🤖 Job Search AI Agent v2",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "systemMessage": "You are a professional Job Search Assistant. Help the user find relevant job listings based on their skills and location.\n\nUser Profile: Azure/Cloud/DevOps Engineer based in Hyderabad, India.\nPreferred Roles: Cloud Engineer, DevOps Engineer, Azure Engineer, SRE, IOC Analyst.\n\nWhen searching for jobs:\n1. Use the HTTP Request tool to search via Serper.dev\n2. Format results with: Job Title, Company, Location, Apply Link\n3. Remember user preferences using memory\n4. Provide 5-10 relevant job listings per search\n5. Always include direct apply links when available\n\nSupported commands:\n- Find [role] jobs in [location]\n- Show remote [role] jobs\n- Find jobs at [company]\n- Daily job digest\n- Set my preferences: [skills/location]",
        "options": {}
      },
      "id": "ai-agent-001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [560, 300]
    },
    {
      "parameters": {
        "model": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "id": "gemini-model-001",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [380, 520],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "memory-001",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "REPLACE_WITH_YOUR_SERPER_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"q\": \"{{ $fromAI('query', 'The job search query string', 'string') }} site:linkedin.com OR site:naukri.com OR site:indeed.com\",\n  \"num\": 10\n}",
        "toolDescription": "Search for job listings using Google Search. Input should be a job search query like 'DevOps Engineer Hyderabad' or 'Remote Cloud Engineer India'."
      },
      "id": "http-tool-001",
      "name": "HTTP Request",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [740, 520]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-send-001",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "REPLACE_WITH_YOUR_N8N_INSTANCE_ID"
  },
  "pinData": {},
  "versionId": "v2-complete-with-telegram-reply",
  "triggerCount": 1,
  "updatedAt": "2026-05-25T10:30:00.000Z",
  "createdAt": "2026-05-25T08:00:00.000Z",
  "_comment": "IMPORTANT: Replace all REPLACE_WITH_* placeholders with your actual credentials. See README.md for setup instructions."
}
